<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterboxd do paraguai</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div :class="['app', { dark: temaEscuro }]">
            <button @click="alterarTema()">Alterar Tema</button>
            <h1>Filmes favoritos</h1>
            <input type="text" v-model="filme" placeholder="Adicione um filme" @keyup.enter="adicionarFilme()">
            <input class="first" type="button" value="Adicionar" @click="adicionarFilme()">
            <input type="button" value="Me surpreenda!" @click="filmeAleatorio()"></button>
            <input type="button" value="Procurar" @click="buscar()">
            <transition-group name="fade" tag="ul">
                <li v-for="(filmes, index) in filmes" :key="index" :ref="el => filmesRefs[index] = el">
                    <img :src="filmes.poster" alt="Poster" style="width: 60px">
                    <span class="movie"
                        :style="{ fontWeight: filmes.curtido ? 'bold' : 'normal', color: index === buscaAtiva ? 'orange' : '' }">
                        {{ filmes.nome }} ({{ filmes.ano }})
                    </span>
                    Curtidas: {{ filmes.numCurtido }} {{ filmes.curtido ? "❤️" : "💔"}}
                    <button @click="curtirFilme(index)">
                        {{ filmes.curtido ? 'Descurtir' : 'Curtir' }}
                    </button>
                    <button @click="removerFilme(index)">Remover</button>

                </li>
            </transition-group>

        </div>

    </div>
</body>
<script src="script.js"></script>

</html>